body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    --idle: transparent;
    --hover: var(--background-default-grey-hover);
    --active: var(--background-default-grey-active);
    background-color: var(--background-default-grey-grey);
    color: var(--text-default-grey);
    font-family: Mariane, arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}file:///opt/lampp/htdocs/GestionDeLaMairie/Vue


.fr-header {
    z-index: 5200;
}

.fr-header__navbar {
    align-items: flex-start;
    display: flex;
}

.fr-header__navbar .fr-btn {
    --hover: inherit;
    --active: inherit;
    background-color: transparent;
    color: var(--text-action-high-blue-france);
    flex: 0 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
    max-height: 5.5rem;
    max-width: 12.5rem;
    min-height: 2.5rem;
    overflow: hidden;
    padding: .5rem;
    white-space: nowrap;
}

.fr-btn {
    --text-spacing: 0;
    --title-spacing: 0;
    --underline-img: none;
    --hover-tint: var(--hover);
    --idle: transparent;
    --hover: var(--background-action-high-blue-france-hover);
    --active: var(--background-action-high-blue-france-active);
    align-items: center;
    background-color: var(--background-action-high-blue-france);
    color: var(--text-inverted-blue-france);
    display: inline-flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    min-height: 2.5rem;
    padding: .5rem 1rem;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 1;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.fr-header__brand {
    --idle: transparent;
    --hover: var(--background-raised-grey-hover);
    --active: var(--background-raised-grey-active);
    background-color: var(--background-raised-grey);
    filter: drop-shadow(var(--raised-shadow));
    flex-wrap: wrap;
    padding-left: .25rem;
    padding-right: .25rem;
    z-index: calc(var(--ground) + 500);
}

.fr-header {
    --underline-img: none;
    --ul-type: none;
    --ol-type: none;
    --ul-start: 0;
    --ol-start: 0;
    --xl-block: 0;
    --li-bottom: 0;
    --ol-content: none;
    --text-spacing: 0;
    --title-spacing: 0;
    position: relative;
    width: 100%;
}